html, body {
	height: 100%;
}

* {
	margin:0px;
	padding: 0px;
}

body {
	background-color: #14081B;
	color: #FFF;
	font-size: 1.5em;
	width: 100%;
/*	overflow: hidden;*/
}

.dark {
	color: #FFF;
	background-color: #14081B;
}

.light {
	background-color: #FFF;
	color: #14081B;
}

a {
	color:#FFF;
	text-decoration: none;
}

/* Widths and margins */

.p1 {
	padding:1em;
}

.pt1 {
	padding-top:1em;
}

.pl1 {
	padding-left: 1em;
}

.pb1 {
	padding-bottom:1em;
}

.m1 {
	margin:1em;
}

.mb170 {
	margin-bottom: 170%;
}

.mb25 {
	margin-bottom: 25%;
}

.mt25 {
	margin-top: 25%;
}

.pt25 {
	padding-top: 25%;
}

.pb25 {
	padding-bottom: 25%;
}

.h100 {
	height: 100%;
}

.h50 {
	height: 50%;
}

.h33 {
	height: 33.33%;
}

.h10 {
	height: 10%;
}

.h1 {
	height: 1em;
}

.w100 {
	width: 100%;
}

.w75 {
	width: 75%;
}

.w50 {
	width: 50%;
}

.w25 {
	width: 25%;
}

.w15 {
	width: 15%;
}

.m50 {
	margin-left: 50% 
}

.m25 {
	margin-left: 25%;
}

.left {
	float:left;
}

.block {
	display: block;
}

.relative {
	position: relative;
}

.center {
	margin: 0px auto;
}

.uppercase {
	text-transform: uppercase;
}

.bold {
	font-weight: bold;
}

.thin {
	font-weight: 100;
}

.italic {
	font-style: italic;
}

.overflow-hidden {
	overflow: hidden;
}

.text-center {
	text-align: center;
}

.text-dark {
	color: #14081B;
}

.text-fade {
	color: rgba(255, 255, 255, .5);
}

body .text-large {
	font-size: 1.25em;
}

body .text-small {
	font-size: .9em;
}

body .text-mini {
	font-size: .6em;
}

.double {
	-webkit-transform: scale(3);
}

/* NAV */

.light .chapters {
		background-color: #FFF;
}

.light .chapters li {
	border-bottom: 3px solid #14081B;
}

.light .chapters li a {
	color: #14081B;
}

.light .chapters li:hover a, .chapters li:active a {
	color:#FFF;
}

.light .chapters li:after {
		background-color: #14081B;
}

.shelf {
	position: fixed;
	z-index: 1000;
	-webkit-transform: translate3d(0, -100%, 0);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	overflow:auto;
	height: 5em;
}

.shelf.open {
	-webkit-transform: translate3d(0, 0%, 0);	
}

.chapters {
	position: absolute;
	overflow:auto; 
	list-style-type: none;
	background-color: rgba(20, 8, 27, .7);
}

.chapters li {
	width: 19.6%;
	border-bottom: 3px solid #FFF;
	margin: 0em .2%;
	line-height: 2em;
	transition: all .3s;
	position: relative;
	z-index: 5;
}

.chapters li:hover a, .chapters li:active a {
	color:#14081B;
}

.chapters li:after {
	content: '';
	position: absolute;
	height: 0%;
	width: 100%;
	z-index: -1;
	bottom: 0;
	left: 0;
	background-color: rgb(255, 255, 255);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}

.chapters li:hover:after, .chapter li:active:after {
height: 100%;
}


.nav {
	position: fixed;
	top: 50%;
	width: 1.35em;
	height: 1.35em;
	border: 1px solid #FFF;
	border-radius: 2em;
	opacity: .2;
	background-color: #14081B;
	z-index: 100;
	transition: all .3s;
}

.nav.active {
	opacity: 1;
}

.nav.active:hover {
	background-color: #FFF;
	color: #14081B;
	border: 1px solid #14081B;
}

.nav-forward {
	right:1em;
}

.nav-back {
	left:1em;
}

.controls {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	text-shadow: 1px 1px 0px rgba(20, 8, 27, .3);
}

/*  */

.tag {
	margin: 1em;
	font-size:1.2em;
}

.logo {
	width: 50%;
	padding-top:10em;
}

#hydrogen {
	position: absolute;
	top:9em;
	left:75%;
}

.w100 {
	width:100%;
}

.bottom {
	position: absolute;
	bottom: 1em;
}

.bottom-center {
	position: absolute;
	bottom: 0em;
	left:50%;
}

.bottom-left {
	position: absolute;
	bottom: 1em;
	left: 1em;
}

#matter {
	position: absolute;
	width:100%;
	height:100%;
	background-color: #FFF;
	overflow: hidden;
	display: none; /* this gets overwritten on mousemove */
}

#matterinfo {
	-webkit-transform:translate3d(200%,0,0);
	z-index: 2;
	position: relative;
}

#antihydrogen {
	position: absolute;
	left: 50%;
	top: 4em;
	margin-left: -22.5px;
	z-index: -1;
}

#hydrogenAtom {
	position: absolute;
	top:4em;
	-webkit-transform:scale(3);
	z-index: 2;
}

.btn {
	min-width: 10em;
	padding: .25em .5em;
	cursor: pointer;
	z-index: 3;
	font-size: .75em;
	transition: all 0.3s;
}


.btn:after {
	content: '';
	position: absolute;
	width: 0%;
	height: 100%;
	z-index: -1;
	top: 0;
	left: 0;
	background-color: #FFF;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}

.btn:hover:after, .btn:active:after {
width: 100%;
}


.btn-dark {
	border: 1px solid #FFF;
	color:#FFF;
	background-color: #14081B;
}

.btn-dark:hover {
	color:#14081B;
	background-color: #FFF;
	border: 1px solid #14081B;
}

.btn-light {
	color:#14081B;
	border: 1px solid #14081B;
	background-color: #FFF;
}

.btn-light:hover {
	color:#FFF;
	background-color: #14081B;
	border: 1px solid #FFF;
}

.light.border {
	border: solid 1px #14081B;
}

video.bgvid {
opacity: .25;
position: fixed;
right: 0;
top: 0;
z-index: -100;
background-size: cover;
}
/*
video.bgvid#particleVid {
	z-index: 1;
}*/

video.bgvid#matterVid {
	z-index: 1;
}

video#bgvid.fade-in {
	opacity: 0;
}

.z1 {
	z-index:1;
}

.z0 {
	z-index:1;
}

.ztop {
	z-index: 1000;
}

.showSvg svg {
	display: block;
}

svg {
	display: none;
}

.top-left {
	position:absolute;
/*	top:0;
	left:0;*/
}
