#voteChoice {
  /*-webkit-transform: translate3d(0,-100%,0);*/
  height:300%;
  position: absolute;
  top: -100%;
}

#unaffected, #affected, #js-main-page {
  -webkit-transition: top 500ms;
  -moz-transition:    top 500ms;
  -o-transition:      top 500ms;
  transition:         top 500ms;
}

#static-viewport {
  position: absolute;
  max-height: 100%;
  height: 100%;
  width: 100%;
  top: 0;
  overflow: hidden;
}

#non-tilt {
  overflow: none;
}

#unaffected {
  top: -100%;
}

#js-main-page {
  top: 0;
}

#affected {
  top: 100%;
}

.tall {
  height: 80%;
  width: 100%;
}

.short {
  height: 20%;
  width: 100%;
}

.orientation {
  border: 1px white solid;
  height: 30px;
  width: 300px;
}

.instructions {
  font-size: 1.3em;
  position: fixed;
  padding-top: 15%
}

.instructions button.begin-tilting {
  width:30%;
  background: #3e9cbf;
  padding: 8px 14px 10px;
  border:1px solid #3e9cbf;
  cursor:pointer;

  /* text styling */
  font-size:1.5em;
  font-family:Oswald, sans-serif;
  letter-spacing:.1em;
  text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
  /*give the corners a small curve*/
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}


//Indicators frame
body {
  height: 100%;
  width: 100%;
}

.indicators {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
}

.indicators .up-indicator {
  line-height: 11em;
  height:50%
}

.indicators .down-indicator {
  line-height: 11em;
  height:50%
}

.indicators .vert-text-center {
  vertical-align: middle;
}
