<template name="aegis">
	<div class="w100 h100 light">
			{{> nav}}


			<div class="text-small w25 bottom-center center" style="margin-left:-12.5%">
				<img class="center block w25 pb1" src="phone.svg" alt="phone" />
<!-- 				<p class="text-dark tk-open-sans text-small text-center">on your phone, navigate to<br/> <strong>bit.ly/placeholder</strong><br/> to participate</p>
				<p href="" class="btn btn-light tk-open-sans text-center">
					Begin Experiment
				</p> -->
			</div>
	</div>

</template>