<template name="game">
	{{> nav}}

	<div class="w100 h100 showSvg">

<!--     <button class="add-point" style="margin-top: 100px">Add point</button>
    <ul class="graph-data">
    </ul> -->
    <div id="impact" class="top-left ztop"></div>

		<div class="w75 h100 left light" style="position: relative;">
			<div id="path" class="top-left z1 w100 h100"></div>
			<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" class="top-left">
			  <defs> 
			    <pattern id="grid" width="11" height="11" patternUnits="userSpaceOnUse">
			      <rect fill="white" x="0" y="0" width="9" height="9"/>
			      <rect fill="aliceblue" x="10" y="0" width="1" height="10"/>
			      <rect fill="aliceblue" x="0" y="10" width="11" height="1"/>
			    </pattern>
			  </defs>
			  <rect fill="url(#grid)" x="0" y="0" width="100%" height="100%"/>
			  <rect fill="#F07C86" x="0%" y="50%" width="100%" height="1"/>
			</svg>

			<div class="btn run tk-open-sans uppercase bottom-center w15 text-center btn-dark" style="margin-left:-100px; bottom:4em">Run Experiment</div>
			<div class="w75 m1 light border h1 bottom-center" style="margin-left:-360px">
				<p class="tk-open-sans text-center text-mini w100">
				{{users}} USERS
				</p>
			</div>
		</div>
		<div class="w25 h100 left" style="position:relative">
			<p class="tk-open-sans text-center text-mini bottom-center text-fade pb1">
					THE FOIL
			</p>
		</div>
	</div>
</template>
