<template name="implications">
	{{> nav}}


	<video preload="auto" id="implicationsVid" class="bgvid-opaque w100 center" tabindex="0">
		<!-- <source src="implications.mebm" type="video/webm"> -->

    <!-- Uncomment this after debugging -->
		<source src="implications.mp4" type="video/mp4">
	</video>

  <a href="http://crowdcrafting.org/app/antimatter/">
    <div class="crowdcrafting-button bottom-center pb1 w25 btn btn-transparent text-center tk-open-sans">
        You can make a difference by taking part in the AEgIS experiment on crowdcrafting.org
    </div>
  </a>

  <img src="play-button.png" class="play-button h10 bottom-left" />

</template>
