<template name="implications">
	{{> nav}}


	<video preload="auto" id="implicationsVid" class="bgvid-opaque w100 center" tabindex="0">
		<!-- <source src="particle.webm" type="video/webm"> -->
		<source src="matter.mp4" type="video/mp4">
	</video>

	<div class="w100 h100">
    <p>The AEgIS experiment needs your help pushing humanity to the next level</p>
    <p>You can follow the experiment and take part on <a href="#">crowdcrafting.org</a></p>
	</div>

  <img src="play-button.png" class="play-button h10 bottom-left" />

</template>
