<template name="implications">
	{{> nav}}


<!-- 	<video preload="auto" autoplay id="implicationsVid" class="bgvid-opaque w100 center">
		<source src="implications.webm" type="video/webm">

		<source src="implications.mp4" type="video/mp4">
	</video> -->



 <video preload="auto" id="IMPLICATIONS" class="bgvid w100 center" tabindex="0" poster="IMPLICATIONS.jpg">
    <source src="IMPLICATIONS.webm" type="video/webm">
    <source src="IMPLICATIONS.mp4" type="video/mp4">
  </video>


    <div class="crowdcrafting-button bottom-center pb1 w25 btn btn-transparent text-center tk-open-sans">
       <a href="http://crowdcrafting.org/app/antimatter/" class="h100 w100"> Take part in the AEgIS experiment</a>
    </div>
</template>
