<template name="landing">
	{{> nav}}

	<div class="logo center">
  	<img src="logo.svg" alt="" class="w100">
  </div>
  
  <span id="hydrogen"></span>
  	
  <div>
  	<p class="text-center tk-adobe-garamond-pro italic tag">a drama in minute proportion</p>
  </div>

  <p class="w50 bottom-center text-center text-mini tk-open-sans" style="margin-left:-320px; opacity: .35">The AEgIS experiment, CERN - Could it undermine our present understanding of physics?</p>

  <video preload="auto" loop id="particleVid" class="bgvid w100 z-1 o5" tabindex="0" poster="particle.png">
    <source src="particle.webm" type="video/webm">
    <source src="particle.mp4" type="video/mp4">
  </video>
</template>
