<template name="landing">
	{{> nav}}

	<div class="logo center">
  	<img src="logo.svg" alt="" class="w100">
  </div>
  
  <span id="hydrogen"></span>
  	
  <div>
  	<p class="text-center tk-adobe-garamond-pro italic tag">a drama in minute proportion</p>
  </div>

  <p class="w50 bottom-center text-center text-mini tk-open-sans" style="margin-left:-320px; opacity: .35">the aegis experiment, CERN, blah blah blah help me explain the thrust of the project of the project of the project</p>

  <video autoplay loop poster="" id="bgvid">
    <source src="particle.webm" type="video/webm">
    <source src="particle.mp4" type="video/mp4">
  </video>
</template>