<template name="landing">
	{{> nav}}

<div class="h100 w100" style="z-index: 100; position: relative">
	<div class="logo center">
  	<img src="logo.svg" alt="" class="w100">
    <p class="text-center tk-adobe-garamond-pro italic tag">a drama in minute proportion</p>
  </div>

  <p class="w50 bottom-center text-center text-mini tk-open-sans" style="bottom:2.5%">Could the Aegis Experiment undermine our present understanding of physics?</p>
</div>

  <video preload="auto" loop id="particleVid" class="bgvid top-left w100" style="opacity:.5" tabindex="0" poster="particle.png">
    <source src="particle.webm" type="video/webm">
    <source src="particle.mp4" type="video/mp4">
  </video>
</template>
