 <template name="mobile">
  <div class="overflow-hidden h100 w100">
    <div class="instructions text-center h100 w100 light bold">
      
      
      <div class="tk-open-sans uppercase text-mini thin p1">
        unaffected by gravity
        <p class="text-small">(tilt towards you)</p>
      </div>
      <img src="up-light.svg" alt="" class="w15 center" />

      <p class="tk-open-sans uppercase p1">Tilt your device to vote how the particle is affected</p>


      <img src="down-light.svg" alt="" class="w15 center" />
      <div class="tk-open-sans uppercase text-mini thin p1">
        affected by gravity
        <p class="text-small">(tilt away from you)</p>
      </div>
        <div class="orientation top-left z-top" style="top:0; left:0">
        </div>
         <div class="beta">
        </div>

    </div>

  <div id="voteChoice" class="votes w100">


    <div class="w100 h33 dark mb170 text-center bold text-large relative">
      <div class="tk-open-sans uppercase w100" style="position: absolute; top: 33%;">
        <img src="up-light.svg" alt="" class="w25 center pb1">
        <p>unaffected</p>
        <p class="text-small">by gravity</p>
      </div>
    </div>

    <div class="w100 h33 dark text-center text-large pb25 relative">
      <div class="tk-open-sans uppercase text-center bold w100" style="position: absolute; bottom: 33%;">
        affected 
        <p class="text-small">by gravity</p>
        <img src="down-light.svg" alt="" class="w25 center pt1">
      </div>
    </div>
  </div>
</div>

</template>
