<!-- <template name="mobile"> -->
<!--   <div id="orientation"  -->
<!--     style="width: 300px;  -->
<!--     height: 300px;  -->
<!--     border: 1px black solid; -->
<!--     background&#45;color: white; -->
<!--     color: red; -->
<!--     text&#45;align: center;"> -->
<!--     <p> -->
<!--       Your vote is: {{myVote}}<br /> -->
<!--     </p> -->
<!--     <p> -->
<!--       The current score is: {{voteTally}} -->
<!--     </p> -->
<!--   </div> -->
<!--  -->
<!--   <button id="vote&#45;up">Vote Up</button> -->
<!--   <button id="vote&#45;down">Vote Down</button> -->
<!-- </template> -->

<template name="mobile">
  <div class="overflow-hidden h100 w100">

    <!-- <div id="non&#45;tilt" class="invisible"> -->
    <div id="non-tilt">

      {{> unaffected}}

      {{> nonTiltInstructions}}

      {{> affected}}

    </div> <!-- END #non-tilt -->


    <div id="tilt" class="invisible">
      <div class="instructions text-center h100 w100 light bold">


        <div class="tk-open-sans uppercase text-mini thin p1">
          unaffected by gravity
          <p class="text-small">(tilt towards you)</p>
        </div>
        <img src="up-light.svg" alt="" class="w15 center" />

        <p class="tk-open-sans uppercase p1">
          Tilt your device to vote how the particle is affected
        </p>


        <img src="down-light.svg" alt="" class="w15 center" />
        <div class="tk-open-sans uppercase text-mini thin p1">
          affected by gravity
          <p class="text-small">(tilt away from you)</p>
        </div>
          <div class="orientation top-left z-top" style="top:0; left:0">
          </div>
           <div class="beta">
          </div>


      </div>

      <div id="voteChoice" class="votes w100">
        <div class="w100 h33 dark mb170 text-center bold text-large relative">
          <div class="tk-open-sans uppercase w100" style="position: absolute; top: 33%;">
            <img src="up-light.svg" alt="" class="w25 center pb1">
            <p>unaffected</p>
            <p class="text-small">by gravity</p>
          </div>
        </div>

        <div class="w100 h33 dark text-center text-large pb25 relative">
          <div class="tk-open-sans uppercase text-center bold w100" style="position: absolute; bottom: 33%;">
            affected 
            <p class="text-small">by gravity</p>
            <img src="down-light.svg" alt="" class="w25 center pt1">
          </div>
        </div>
      </div> <!-- END #voteChoice -->
    </div> <!-- END #tilt -->
  </div>

  <div class="tally invisible"> The current score is: {{voteTally}} </div>
</template>


<template name="unaffected">
  <div id="unaffected" 
       class="h100 w100 pos-a text-center tk-open-sans uppercase
              z1">

    <div class="tall dark disp-table">
      <div id="unaffected-text" class="vert-center bold">
        <p> You voted that it's unaffected by gravity </p>
        <img src="up-light.svg" alt="" class="w15 center" />
      </div>
    </div>

    <div class="short light disp-table">
      <div id="change-vote-to-affected" class="vert-center vote-down">
        <img src="down-light.svg" alt="" class="w3 center" />
        <p> Click to vote the other way </p>
      </div>
    </div>
  </div>
</template>


<template name="nonTiltInstructions">
  <div class="text-center h100 w100 pos-a light bold">
    <div class="vote-up">
      <div class="tk-open-sans uppercase text-small thin p1">
        unaffected by gravity
      </div>
      <img src="up-light.svg" alt="" class="w15 center" />
    </div>

    <p class="tk-open-sans uppercase p1">
      do you think antimatter is affected by gravity or not?
    </p>

    <div class="vote-down">
      <img src="down-light.svg" alt="" class="w15 center" />
      <div class="tk-open-sans uppercase text-small thin p1">
        affected by gravity
      </div>
    </div>
  </div>
</template>


<template name="affected">
<div id="affected" 
       class="h100 w100 pos-a text-center tk-open-sans uppercase
              z1">

  <div class="short light disp-table">
    <div id="change-vote-to-unaffected" class="vert-center vote-up 
      text-small thin">
      <p> Click to vote the other way </p>
      <img src="up-light.svg" alt="" class="w3 center" />
    </div>
  </div>

  <div class="tall dark disp-table">
    <div id="affected-text" class="vert-center bold">
      <img src="down-light.svg" alt="" class="w15 center" />
      <p> You voted that it's affected by gravity </p>
    </div>
  </div>

</div>
</template>

