<template name="nav">
	<nav>
		<div class="shelf w100">
			<ul class="chapters tk-open-sans w100 text-center">
				<li class="left text-center"><a class="w100 block" href="/">Hello.</a></li>
				<li class="left text-center"><a class="w100 block" href="/whatismatter">What is Matter?</a></li>
				<li class="left text-center"><a class="w100 block" href="/aegis">Aegis</a></li>
				<li class="left text-center"><a class="w100 block" href="/game">Game</a></li>
				<li class="left text-center"><a class="w100 block" href="/implications">Join</a></li>
			</ul>
		</div>

		<div class="controls text-mini uppercase tk-open-sans pt1 pl1">
			<a href="" class="pb1 menu">menu</a>
<!-- 			<span>  | </span>
			<a href="">info</a> -->
		</div>

		<a href="{{backwardURL}}" class="nav nav-back text-center {{backwardActive}}">-</a>
		<a href="{{forwardURL}}" class="nav nav-forward text-center {{forwardActive}}">+</a>
	</nav>
</template>