<template name="whatismatter">
	{{> nav}}

	<div class="full">
		<div id="matter">
			<div id="hydrogenAtom"></div>
			<div id="matterinfo" class="logo center">
	  		<img src="logo-dark.svg" alt="" class="large">

	  		<p class="text-center text-small tk-adobe-garamond-pro italic tag text-dark">matter has the same weight of its antimatter counterpart, but has a negatively charged blah blah help me out here guys. matter has the same weight of its antimatter counterpart, but has a negatively charged blah blah help me out here guys. </p>
	  	</div>
		</div>

		<div class="logo center antimatterInfo">
				<div id="antihydrogen" class="double"></div>
	  		<img src="logo.svg" alt="" class="large">
	  </div>
	  <div class="w50 center">
  		<p class="text-center text-small tk-adobe-garamond-pro italic tag">antimatter has the same weight of its matter counterpart, but has a negatively charged blah blah help me out here guys. antimatter has the same weight of its matter counterpart, but has a negatively charged blah blah help me out here guys. </p>
  	</div>
	</div>

<!-- 	<div class="text-small">
		<p href="" class="btn btn-dark bottom-center center tk-open-sans text-center" style="margin-left: -5em">
			the origins of matter
		</p>
	</div> -->

</template>