<template name="whatismatter">
	{{> nav}}
<div id="whatismatter" class="w100 h100 showSvg">
		<div id="matter">
			<div id="hydrogenAtom"></div>
			<div id="matterinfo" class="logo center">
	  		<img src="logo-matter.svg" alt="" class="w100">

	  		<p class="text-center text-small tk-adobe-garamond-pro italic tag text-dark">matter has the same weight of its antimatter counterpart, but has a negatively charged blah blah help me out here guys. matter has the same weight of its antimatter counterpart, but has a negatively charged blah blah help me out here guys. </p>
	  	</div>

	  	<video preload="auto" id="matterVid" class="fade-in bgvid w100 center" tabindex="0">
		    <!-- <source src="particle.webm" type="video/webm"> -->
		    <source src="matter.mp4" type="video/mp4">
		  </video>

		</div>

		<div class="logo center antimatterInfo">
				<div id="antihydrogen" class="double"></div>
	  		<img src="logo.svg" alt="" class="w100">
	  </div>
	  <div class="w50 center">
  		<p class="text-center text-small tk-adobe-garamond-pro italic tag">antimatter has the same weight of its matter counterpart, but has a negatively charged blah blah help me out here guys. antimatter has the same weight of its matter counterpart, but has a negatively charged blah blah help me out here guys. </p>
  	</div>


	<!-- <video preload="auto" loop id="bgvid" tabindex="0" poster="particle.png"> -->
	<video preload="auto" id="antimatter" class="fade-in bgvid w100 center" tabindex="0">
    <!-- <source src="particle.webm" type="video/webm"> -->
    <source src="antimatter.mp4" type="video/mp4">
  </video>

  <div class="text-small w25 bottom-center pb1 center ztop" style="margin-left:-12.5%">
		<img class="center block w25 ztop" src="explore.svg" alt="explore" />
	</div>

<!-- 	<div class="text-small">
		<p href="" class="btn btn-dark bottom-center center tk-open-sans text-center" style="margin-left: -5em">
			the origins of matter
		</p>
	</div> -->
</div>

</template>