<template name="whatismatter">
	{{> nav}}

	<div class="full">
		<div id="matter">
			<div id="hydrogenAtom"></div>
			<div id="matterinfo" class="logo center">
	  		<img src="logo-dark.svg" alt="" class="large">
	  		<div class="w25 p1">
	  			
	  			<div class="w50">
	  			</div>
	  		</div>
	  	</div>
		</div>

		<div class="logo center antimatterInfo">
				<div id="antihydrogen" class="double"></div>
	  		<img src="logo.svg" alt="" class="large">
	  		<div class="w25 p1">
	  			<div class="w50">
	  			</div>
	  		</div>
	  </div>
	</div>

</template>